*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

body{
    width: 1440px;
    margin: auto;
    font-family: 'Open Sans',sans-serif;
}

header{
    height: 70px;
    width: 100%;
    background-color: #265ee8;
}

nav{
    margin: auto;
    width: 100%;
    height: 100%;
}

.logo , .apri {
    display: flex;
    align-items: center;
    position: relative;
    float: left;
    height: 100%;
}

.logo{
    width: 70%; 
}

.apri{
    width: 30%; 
}

.logo li , .apri li{
    line-height: 80px;
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

.logo  a , .apri a {
    text-decoration: none;
    color: white;
}

.logo  a:hover , .apri a:hover{
    text-decoration: underline;
}

nav #button1 {
    padding: 10px 17px;
    text-decoration: none;
    font-size: 13px;
    border-radius: 20px;
    border: none;
    right: 0;
    position: absolute;
    cursor: pointer;
    font-family: 'Catamaran', sans-serif;
    transition: 0.3s;
}

nav #button1:hover{
    color: #8ea1e1;
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}